.formcontainer {
    display: flex;
    justify-content: center;
    height: 45%;
}

.example-form {
    min-width: 150px;
    display: inline-grid;
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 25px 50px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px 1px #888888;
    gap: 10px;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}


.align-center {
    text-align: center;
}

.inputMargin {
    margin-top: 0.9375em !important;
}

.SendContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}