/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #68f5ff;
  background-image: linear-gradient(#fbfbfb 1px, transparent 1px), linear-gradient(to right, #fbfbfb 1px, #68f5ff 1px);
  background-size: 20px 20px;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}